* {
    text-align: center;
}

.top-page {
    text-align: center;
    border: black solid 2px;
    width: 400px;
    margin: 0 auto;
}

.post-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 200px;
    width: 1000px;
    margin: 0 auto;
    z-index: -1;
}

.posts {
    margin-top: 25px;
    border: 2px solid black;
    word-wrap: break-word;
    width: 400px;
    z-index: -1;
}

#secret {
    margin-top: 50px;
    visibility: hidden;
}

#user {
    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    position: relative;
    top: -15px;
    height: 5px;
}

#shishir-approved-photo {
    height: 50px;
    width: 40px;
    position: relative;
    left: 155.5px;
    top: -40px;
}

#shishir-approved-text {
    position: relative;
    left: 320px;
    top: -55px;
    word-wrap: break-word;
    width: 70px;
    height: 0.1px;
}

#text {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}